@model IEnumerable<Garage2._0.Models.ParkedVehicle>

@{
    ViewBag.Title = "Parkerade " + ViewBag.Fordon + " i garaget";
}

<h2>@ViewBag.Title</h2>

<p>
   @if (ViewBag.Fordon.Equals("bilar"))
   {
       @Html.ActionLink("Parkera ny bil i garaget", "Park", new { typeOfVehicle = "Car" });
   }
  else if (ViewBag.Fordon.Equals("bussar"))
  { 
      @Html.ActionLink("Parkera ny buss i garaget", "Park", new { typeOfVehicle = "Bus" });
  }
  else if (ViewBag.Fordon.Equals("båtar"))
  {
      @Html.ActionLink("Parkera ny båt i garaget", "Park", new { typeOfVehicle = "Boat" });
  }
  else if (ViewBag.Fordon.Equals("flygplan"))
  { 
      @Html.ActionLink("Parkera nytt flygplan i garaget", "Park", new { typeOfVehicle = "Airplane" });
  }
  else if (ViewBag.Fordon.Equals("motorcykel"))
  {
      @Html.ActionLink("Parkera ny motorcykel i garaget", "Park", new { typeOfVehicle = "Motorcycle" });
  }
  else
  {
      @Html.ActionLink("Parkera nytt fordon i garaget", "Park");
  }
</p>

@using (Html.BeginForm())
{
    <p>
        Reg.Nummer: @Html.TextBox("SearchNumberPlate")
        <input type="submit" value="Sök" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.TypeOfVehicle).ToString()), "IndexSort", new { typOfVehicle = ViewBag.TypeOfVehicle, orderBy = "TypeOfVehicle" })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.RegNumber).ToString()), "IndexSort", new { typOfVehicle = ViewBag.TypeOfVehicle, orderBy = "RegNumber"})
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Color).ToString()), "IndexSort", new { typOfVehicle = ViewBag.TypeOfVehicle, orderBy = "Color" }) 
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.NoOfWheels).ToString()), "IndexSort", new { typOfVehicle = ViewBag.TypeOfVehicle, orderBy = "NoOfWheels" })
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Brand).ToString()), "IndexSort", new { typOfVehicle = ViewBag.TypeOfVehicle, orderBy = "Brand"}) 
        </th>
        <th>
            @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.Model).ToString()), "IndexSort", new { typOfVehicle = ViewBag.TypeOfVehicle,  orderBy = "Model" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@using Garage2._0.Enum
           @{
           if (item.TypeOfVehicle == TypeOfVehicle.Car)
           {
            @Html.ActionLink(HttpUtility.HtmlDecode("Bil"), "IndexSort", new { typeOfVehicle = "Car" })
           }
           else if (item.TypeOfVehicle == TypeOfVehicle.Bus)
           {
            @Html.ActionLink(HttpUtility.HtmlDecode("Buss"), "IndexSort", new { typeOfVehicle = "Bus" })
           }
           else if (item.TypeOfVehicle == TypeOfVehicle.Boat)
           {
            @Html.ActionLink(HttpUtility.HtmlDecode("Båt"), "IndexSort", new { typeOfVehicle = "Boat" })
           }
           else if (item.TypeOfVehicle == TypeOfVehicle.Airplane)
           {
            @Html.ActionLink(HttpUtility.HtmlDecode("Flygplan"), "IndexSort", new { typeOfVehicle = "Airplane" })
           }
           else if (item.TypeOfVehicle == TypeOfVehicle.Motorcycle)
           {
            @Html.ActionLink(HttpUtility.HtmlDecode("Motorcykel"), "IndexSort", new { typeOfVehicle = "Motorcycle" })
           }
           }
        </td>
        <td>  
            @Html.DisplayFor(modelItem => item.RegNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Checka ut", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
