@model Garage2._0.Models.Vehicle

@{
    ViewBag.Title = "Kvitto";
}

<h2>@ViewBag.Title för @Html.DisplayFor(model => model.RegNumber)</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.RegNumber)</dt>
        <dd>@Html.DisplayFor(model => model.RegNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.VehicleType.TypeOfVehicle)</dt>
        <dd>@Html.DisplayFor(model => model.VehicleType.TypeOfVehicle)</dd>

        <dt>Check-in tid</dt>
        <dd>@Html.DisplayFor(model => model.CheckInTime)</dd>

        <dt>Check-ut tid</dt>
        <dd>@ViewBag.CheckOutTime.ToString("HH:mm:ss" + " ddd d MMM")</dd>

        <dt>Parkeringstid</dt>
        <dd>@ViewBag.ParkingDuration</dd>

        <dt>Parkeringsavgift</dt>
        <dd>@ViewBag.ParkingFee SEK</dd>

        <dt>Varav moms (25%)</dt>
        <dd>@(ViewBag.ParkingFee/4) SEK</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till garaget", "Index")
</p>
