@model Garage2._0.Models.Member

@{
    ViewBag.Title = "Delete";
}

<h2>Avregistrera</h2>

<h3>Är du säker att denna medlem ska tas bort?</h3>
<div>
    @*<h4>Medlem</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membershipnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verkställ" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
